%text-default
  font-family: Helvetica
  font-size: 1em
  font-weight: 300
  line-height: 0.8em
  color: $grey_extra_dark

%small-text
  font-size: 12px

%title-text
  @extend %small-text

  font-weight: normal
  text-transform: uppercase

%padded-column-row
  margin-left: -$padding_2
  margin-right: -$padding_2

%padded-column
  padding: 0 $padding_2
