
$base: #DCD4F9
$pink: #E01FBA
$red: #E01F59
$orange: #E0451F
$yellow: #E0A61F
$yellow_green: #BAE01F
$green: #59E01F
$cyan: #1FBAE0
$blue: #1F59E0
$violet: #A61FE0

$grey: $base
$grey_light: lighten($base, 6%)
$grey_lighter: lighten($base, 9%)
$grey_dark: darken($base, 10%)
$grey_darker: darken($base, 20%)
$grey_very_dark: darken($base, 40%)
$grey_extra_dark: darken($base, 60%)
$grey_extra_darker: desaturate(darken($base, 70%), 20%)
$grey_extra_darker_2: desaturate(darken($red, 20%), 50%)

$button_radius: 6px
$button_padding: 6px 8px
$button_color: $grey_light
$button_border: $grey

$input_radius: 6px
$input_padding: 8px 12px 6px
$input_color: $grey_lighter
$input_border: $grey

$base-font-size: 16px
