:ruby
  inputs_html ||= {}

  fieldset_attrs = {
    class: [
      AwesomeForm.default_inputs_class,
      inputs_html.delete(:class),
    ].compact.join(' '),
  }.merge(inputs_html)

%fieldset{fieldset_attrs}
  - if defined? legend
    %legend
      / It's known fact that legend can't be styled well
      %span= legend

  = yield
