:ruby
  inputs_html ||= {}

  fieldset_attrs = builder.attributes_for(:fieldset, inputs_html, class: AwesomeForm.default_inputs_class)

%fieldset{fieldset_attrs}
  - if defined? legend
    %legend
      / It's known fact that legend can't be styled well and have
      / to be wrapped in a span that will be styled instead.
      %span= legend

  = yield
