
.field
  padding: $padding_4 $padding_6
  border-bottom: 1px solid $grey
  border-top: 1px solid $grey_lighter
  @extend .row
  +relative

  *
    +box-sizing(border-box)

  label, .controls
    @extend .column

    vertical-align: top

  label
    @extend .column-md-4

  .controls
    @extend .column-md-8

  +upto-md
    &
      label
        font-size: 12px

      .controls
        margin-top: $padding_3

  +downfrom-md
    &
      label
        padding: 10px
        text-align: right

