
.inputs
  border: none

  +box-reset
  +relative
  +paper-box($grey_light)

  legend
    width: auto
    vertical-align: bottom

    span
      @extend %title-text

      +box
      +absolute
      +title-box

      margin: 0
      height: 11px
      top: 0
      left: 0
      right: 0
      padding: $padding_5 $padding_6

    & + *
      -webkit-margin-collapse: separate
      margin-top: 36px

  +for-webkit
    margin-top: -36px

  +for-gecko
    legend span
      top: 0 !important
      left: 0 !important

