:ruby
  attrs = {
    type: action,
    name: name,
    class: [
      AwesomeForm.default_action_class,
      model_name,
      action
    ].join(' '),
  }

%button{attrs}= builder.action_label(action)
