:ruby
  attrs = {
    name: builder.association_name(attribute_name),
    multiple: multiple
  }

%select{attrs}
  - if options[:include_blank]
    %option{value: ''}

  - collection.each do |value, label|
    %option{value: value, selected: selected.include?(value)}= label
