:ruby
  input_class = [
    AwesomeForm.default_input_class,
    input_html.delete(:class)
  ].join(' ')

  attrs = {
    name: builder.association_name(attribute_name),
    id: builder.input_id(attribute_name),
    class: input_class,
    multiple: multiple,
  }

%select{attrs}
  - if defined?(include_blank) && include_blank
    %option{value: ''}

  - collection.each do |value, label|
    %option{value: value, selected: selected.include?(value)}= label
