:ruby
  attrs = {
    name: builder.association_name(attribute_name),
    id: builder.input_id(attribute_name),
    class: "#{model_name} #{attribute_name} #{input_html.delete(:class)}",
    multiple: multiple,
  }

%select.input{attrs}
  - if defined?(include_blank) && include_blank
    %option{value: ''}

  - collection.each do |value, label|
    %option{value: value, selected: selected.include?(value)}= label
