:ruby
  attrs = {
    name: builder.input_name(attribute_name),
    id: builder.input_id(attribute_name),
    type: :checkbox,
    class: "#{model_name} #{attribute_name} #{input_html.delete(:class)}",
    value: '1',
    checked: object.try(attribute_name),
  }
  attrs.merge! builder.filter_attributes_for(:input, input_html)

%input.input{attrs}
