:ruby
  attrs = builder.attributes_for :input, input_html, {
    name: builder.input_name(attribute_name),
    id: builder.input_id(attribute_name),
    type: :checkbox,
    class: AwesomeForm.default_input_class,
    value: '1',
    checked: object.try(attribute_name),
  }

%input{attrs}
