:ruby
  attrs = builder.attributes_for :input, input_html, {
    name: builder.input_name(attribute_name),
    id: builder.input_id(attribute_name),
    class: AwesomeForm.default_input_class,
    type: type == :string ? :text : type,
    value: object.try(attribute_name),
  }

%input{attrs}
