:ruby
  attrs = {
    name: builder.input_name(attribute_name),
    type: type,
    value: object.try(attribute_name),
  }
  if defined? input_html
    attrs.merge! builder.filter_attributes_for(:input, input_html)
  end

%input{attrs}
