:ruby
  multiple ||= false
  selected ||= []
  input_class = [
    AwesomeForm.default_input_class,
    input_html.delete(:class)
  ].join(' ')

  attrs = {
    name: multiple ? builder.collection_name(attribute_name) : builder.input_name(attribute_name),
    id: builder.input_id(attribute_name),
    class: input_class,
    multiple: multiple
  }
  attrs.merge! builder.filter_attributes_for(:select, input_html)

%select{attrs}
  - if defined?(include_blank) && include_blank
    %option{value: ''}

  - collection.each do |value, label|
    %option{value: value, selected: selected.include?(value)}= label || value.to_s.humanize
