:ruby
  attrs = builder.attributes_for :textarea, input_html, {
    name: builder.input_name(attribute_name),
    id: builder.input_id(attribute_name),
    class: AwesomeForm.default_input_class,
  }

%textarea{attrs}= object.try(attribute_name)
